<div id="version-check">
  <div class="version-check-large">
    <p>You are using an older version of the API. <a class="arrow" href="#versioning">Learn more about API versions</a></p>
  </div>
  <div class="version-check-small">
    <p>You're using an older API version. <a class="arrow" href="#versioning">Learn more</a></p>
  </div>
</div>

<!-- header -->
<div id="header">
  <div class="header-section header-section-sidebar">
    <div class="logo">
      <a href="/"><%= @service.name %></a>
    </div>
  </div>
  <div class="header-section header-section-copy">

    <!-- sidebar replacement for smaller screens -->
    <div class="select-field jump-menu">
      <select>
        <optgroup label="API">
          <option value="intro">Introduction</option>
          <option value="authentication">Authentication</option>
          <option value="errors">Errors</option>
          <option value="pagination">Pagination</option>
          <option value="versioning">Versioning</option>
          <option value="expanding_objects">Expanding Objects</option>
          <option value="metadata">Metadata</option>
          <option value="idempotent_requests">Idempotent Requests</option>
          <option value="request_ids">Request IDs</option>
        </optgroup>
        <optgroup label="Methods">
          <option value="charges">Charges</option>
          <option value="refunds">Refunds</option>
          <option value="customers">Customers</option>
          <option value="cards">Cards</option>
          <option value="subscriptions">Subscriptions</option>
          <option value="plans">Plans</option>
          <option value="coupons">Coupons</option>
          <option value="discounts">Discounts</option>
          <option value="invoices">Invoices</option>
          <option value="invoiceitems">Invoice Items</option>
          <option value="disputes">Disputes</option>
          <option value="transfers">Transfers</option>
          <option value="transfer_reversals">Transfer Reversals</option>
          <option value="recipients">Recipients</option>
          <option value="bank_accounts">Bank Accounts</option>
          <option value="application_fees">Application Fees</option>
          <option value="fee_refunds">Application Fee Refunds</option>
          <option value="account">Account</option>
          <option value="balance">Balance</option>
          <option value="events">Events</option>
          <option value="tokens">Tokens</option>
          <option value="bitcoin_receivers">Bitcoin Receivers</option>
          <option value="file_uploads">File Uploads</option>
        </optgroup>
      </select>
    </div>

  </div>
</div>
<!-- /header -->
