<!-- sidebar -->
<div id="sidebar">
  <nav role="navigation" class="sidebar-nav">
    <h5 class="sidebar-nav-heading">API</h5>
    <ul class="sidebar-nav-items">
      <li>
        <a class="sidebar-nav-item" href="#intro">Introduction</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#authentication">Authentication</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#errors">Errors</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#pagination">Pagination</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#versioning">Versioning</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#expanding_objects">Expanding Objects</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#metadata">Metadata</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#idempotent_requests">Idempotent Requests</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#request_ids">Request IDs</a>
      </li>
    </ul>
    <h5 class="sidebar-nav-heading">Methods</h5>
    <ul class="sidebar-nav-items">
      <% endpoints.each do |endpoints_array| %>
        <% type = endpoints_array.first.prefix %>
        <li>
          <a class="sidebar-nav-item expandable" href="#<%= type %>">
            <%= type.capitalize %>
          </a>
          <ul class="sidebar-nav-items">
            <% endpoints_array.each do |endpoint| %>
              <li>
                <a class="sidebar-nav-item">
                  <%= endpoint.label %>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
