<!-- sidebar -->
<div id="sidebar">
  <nav role="navigation" class="sidebar-nav">
    <h5 class="sidebar-nav-heading">API</h5>
    <ul class="sidebar-nav-items">
      <li>
        <a class="sidebar-nav-item" href="#intro">Introduction</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#authentication">Authentication</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#errors">Errors</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#pagination">Pagination</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#versioning">Versioning</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#expanding_objects">Expanding Objects</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#metadata">Metadata</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#idempotent_requests">Idempotent Requests</a>
      </li>
      <li>
        <a class="sidebar-nav-item" href="#request_ids">Request IDs</a>
      </li>
    </ul>
    <h5 class="sidebar-nav-heading">Methods</h5>
    <ul class="sidebar-nav-items">
      <li>
        <a class="sidebar-nav-item expandable" href="#charges">Charges</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#charge_object">The charge object</a></li>
          <li><a class="sidebar-nav-item" href="#create_charge">Create a charge</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_charge">Retrieve a charge</a></li>
          <li><a class="sidebar-nav-item" href="#update_charge">Update a charge</a></li>
          <li><a class="sidebar-nav-item" href="#capture_charge">Capture a charge</a></li>
          <li><a class="sidebar-nav-item" href="#list_charges">List all charges</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#refunds">Refunds</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#refund_object">The refund object</a></li>
          <li><a class="sidebar-nav-item" href="#create_refund">Create a refund</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_refund">Retrieve a refund</a></li>
          <li><a class="sidebar-nav-item" href="#update_refund">Update a refund</a></li>
          <li><a class="sidebar-nav-item" href="#list_refunds">List all refunds</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#customers">Customers</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#customer_object">The customer object</a></li>
          <li><a class="sidebar-nav-item" href="#create_customer">Create a customer</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_customer">Retrieve a customer</a></li>
          <li><a class="sidebar-nav-item" href="#update_customer">Update a customer</a></li>
          <li><a class="sidebar-nav-item" href="#delete_customer">Delete a customer</a></li>
          <li><a class="sidebar-nav-item" href="#list_customers">List all customers</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#cards">Cards</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#card_object">The card object</a></li>
          <li><a class="sidebar-nav-item" href="#create_card">Create a card</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_card">Retrieve a card</a></li>
          <li><a class="sidebar-nav-item" href="#update_card">Update a card</a></li>
          <li><a class="sidebar-nav-item" href="#delete_card">Delete a card</a></li>
          <li><a class="sidebar-nav-item" href="#list_cards">List all cards</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#subscriptions">Subscriptions</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#subscription_object">The subscription object</a></li>
          <li><a class="sidebar-nav-item" href="#create_subscription">Create a subscription</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_subscription">Retrieve a subscription</a></li>
          <li><a class="sidebar-nav-item" href="#update_subscription">Update a subscription</a></li>
          <li><a class="sidebar-nav-item" href="#cancel_subscription">Cancel a subscription</a></li>
          <li><a class="sidebar-nav-item" href="#list_subscriptions">List active subscriptions</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#plans">Plans</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#plan_object">The plan object</a></li>
          <li><a class="sidebar-nav-item" href="#create_plan">Create a plan</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_plan">Retrieve a plan</a></li>
          <li><a class="sidebar-nav-item" href="#update_plan">Update a plan</a></li>
          <li><a class="sidebar-nav-item" href="#delete_plan">Delete a plan</a></li>
          <li><a class="sidebar-nav-item" href="#list_plans">List all plans</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#coupons">Coupons</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#coupon_object">The coupon object</a></li>
          <li><a class="sidebar-nav-item" href="#create_coupon">Create a coupon</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_coupon">Retrieve a coupon</a></li>
          <li><a class="sidebar-nav-item" href="#update_coupon">Update a coupon</a></li>
          <li><a class="sidebar-nav-item" href="#delete_coupon">Delete a coupon</a></li>
          <li><a class="sidebar-nav-item" href="#list_coupons">List all coupons</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#discounts">Discounts</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#discount_object">The discount object</a></li>
          <li><a class="sidebar-nav-item" href="#delete_discount">Delete a customer discount</a></li>
          <li><a class="sidebar-nav-item" href="#delete_subscription_discount">Delete a subscription discount</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#invoices">Invoices</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#invoice_object">The invoice object</a></li>
          <li><a class="sidebar-nav-item" href="#invoice_line_item_object">The invoice line item object</a></li>
          <li><a class="sidebar-nav-item" href="#create_invoice">Create an invoice</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_invoice">Retrieve an invoice</a></li>
          <li><a class="sidebar-nav-item" href="#invoice_lines">Retrieve an invoice's line items</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_customer_invoice">Retrieve an upcoming invoice</a></li>
          <li><a class="sidebar-nav-item" href="#update_invoice">Update an invoice</a></li>
          <li><a class="sidebar-nav-item" href="#pay_invoice">Pay an invoice</a></li>
          <li><a class="sidebar-nav-item" href="#list_customer_invoices">List all invoices</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#invoiceitems">Invoice Items</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#invoiceitem_object">The invoiceitem object</a></li>
          <li><a class="sidebar-nav-item" href="#create_invoiceitem">Create an invoice item</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_invoiceitem">Retrieve an invoice item</a></li>
          <li><a class="sidebar-nav-item" href="#update_invoiceitem">Update an invoice item</a></li>
          <li><a class="sidebar-nav-item" href="#delete_invoiceitem">Delete an invoice item</a></li>
          <li><a class="sidebar-nav-item" href="#list_invoiceitems">List all invoice items</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#disputes">Disputes</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#dispute_object">The dispute object</a></li>
          <li><a class="sidebar-nav-item" href="#dispute_evidence_object">The dispute evidence object</a></li>
          <li><a class="sidebar-nav-item" href="#update_dispute">Update a dispute</a></li>
          <li><a class="sidebar-nav-item" href="#close_dispute">Close a dispute</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#transfers">Transfers</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#transfer_object">The transfer object</a></li>
          <li><a class="sidebar-nav-item" href="#create_transfer">Create a transfer</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_transfer">Retrieve a transfer</a></li>
          <li><a class="sidebar-nav-item" href="#update_transfer">Update a transfer</a></li>
          <li><a class="sidebar-nav-item" href="#list_transfers">List all transfers</a></li>
          <li><a class="sidebar-nav-item" href="#transfer_failures">Types of transfer failures</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#transfer_reversals">Transfer Reversals</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#transfer_reversal_object">The transfer reversal object</a></li>
          <li><a class="sidebar-nav-item" href="#create_transfer_reversal">Create a reversal</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_transfer_reversal">Retrieve a reversal</a></li>
          <li><a class="sidebar-nav-item" href="#update_transfer_reversal">Update a reversal</a></li>
          <li><a class="sidebar-nav-item" href="#list_transfer_reversals">List all reversals</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#recipients">Recipients</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#recipient_object">The recipient object</a></li>
          <li><a class="sidebar-nav-item" href="#create_recipient">Create a recipient</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_recipient">Retrieve a recipient</a></li>
          <li><a class="sidebar-nav-item" href="#update_recipient">Update a recipient</a></li>
          <li><a class="sidebar-nav-item" href="#delete_recipient">Delete a recipient</a></li>
          <li><a class="sidebar-nav-item" href="#list_recipients">List all recipients</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#bank_accounts">Bank Accounts</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#bank_account_object">The bank account object</a></li>
          <li><a class="sidebar-nav-item" href="#create_bank_account">Create a bank account</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_bank_account">Retrieve a bank account</a></li>
          <li><a class="sidebar-nav-item" href="#update_bank_account">Update a bank account</a></li>
          <li><a class="sidebar-nav-item" href="#delete_bank_account">Delete a bank account</a></li>
          <li><a class="sidebar-nav-item" href="#list_bank_accounts">List all bank accounts</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#application_fees">Application Fees</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#application_fee_object">The application fee object</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_application_fee">Retrieve an application fee</a></li>
          <li><a class="sidebar-nav-item" href="#list_application_fees">List all application fees</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#fee_refunds">Application Fee Refunds</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#fee_refund_object">The application fee refund object</a></li>
          <li><a class="sidebar-nav-item" href="#create_fee_refund">Create an application fee refund</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_fee_refund">Retrieve an application fee refund</a></li>
          <li><a class="sidebar-nav-item" href="#update_fee_refund">Update an application fee refund</a></li>
          <li><a class="sidebar-nav-item" href="#list_fee_refunds">List all application fee refunds</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#account">Account</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#account_object">The account object</a></li>
          <li><a class="sidebar-nav-item" href="#create_account">Create an account</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_account">Retrieve account details</a></li>
          <li><a class="sidebar-nav-item" href="#update_account">Update an account</a></li>
          <li><a class="sidebar-nav-item" href="#list_accounts">List all connected accounts</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#balance">Balance</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#balance_object">The balance object</a></li>
          <li><a class="sidebar-nav-item" href="#balance_transaction_object">The balance transaction object</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_balance">Retrieve balance</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_balance_transaction">Retrieve a balance transaction</a></li>
          <li><a class="sidebar-nav-item" href="#balance_history">List all balance history</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#events">Events</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#event_object">The event object</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_event">Retrieve an event</a></li>
          <li><a class="sidebar-nav-item" href="#list_events">List all events</a></li>
          <li><a class="sidebar-nav-item" href="#event_types">Types of events</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#tokens">Tokens</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#token_object">The token object</a></li>
          <li><a class="sidebar-nav-item" href="#create_card_token">Create a card token</a></li>
          <li><a class="sidebar-nav-item" href="#create_bank_account_token">Create a bank account token</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_token">Retrieve a token</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#bitcoin_receivers">Bitcoin Receivers</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#bitcoin_receiver_object">The receiver object</a></li>
          <li><a class="sidebar-nav-item" href="#create_bitcoin_receiver">Create a receiver</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_bitcoin_receiver">Retrieve a receiver</a></li>
          <li><a class="sidebar-nav-item" href="#list_bitcoin_receivers">List all receivers</a></li>
        </ul>
      </li>
      <li>
        <a class="sidebar-nav-item expandable" href="#file_uploads">File Uploads</a>
        <ul class="sidebar-nav-items">
          <li><a class="sidebar-nav-item" href="#file_upload_object">The file upload object</a></li>
          <li><a class="sidebar-nav-item" href="#create_file_upload">Create a file upload</a></li>
          <li><a class="sidebar-nav-item" href="#retrieve_file_upload">Retrieve a file upload</a></li>
          <li><a class="sidebar-nav-item" href="#list_file_uploads">List all file uploads</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
